<div class="container">
	<div class="jumbotron">
		<h1>Database test</h1>
	</div>

<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title pull-left">
			Felger
		</h3>

		<button class="btn btn-default pull-right" data-toggle="modal" data-target="#FelgerM" id="FelgerAdd">Velg</button>
		<div class="clearfix"></div>
	</div>
	<div class="panel-body"></div>
</div>

	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title pull-left">
				Salg
			</h3>

			<button class="btn btn-default pull-right" data-toggle="modal" data-target="#SalgM" id="SalgAdd">Kjøp</button>
			<div class="clearfix"></div>
		</div>
		<div class="panel-body">hent fra Database</div>
	</div>

	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title pull-left">
				Brukere
			</h3>

			<button class="btn btn-default pull-right" data-toggle="modal" data-target="#RegM" id="RegAdd">Registrer</button>
			<div class="clearfix"></div>
		</div>
		<div class="panel-body">hent fra Database</div>
		</div>
</div>


<!-- Modal Salg-->
<div id="SalgM" class="modal fade" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Salg</h4>
			</div>
			<div class="modal-body">
				<form>
					<div class="form-row">
						<div class="form-group col-md-6">
							<label for="inputBruker">Bruker</label>
							<select id="inputBruker" class="form-control">
        <option selected>Velg Bruker...</option>
        <option>...</option>
      </select>
						</div>
						<div class="form-group col-md-6">
							<label for="inputType">Type</label>
							<select id="inputTyep" class="form-control">
        <option selected>Velg Type...</option>
        <option>...</option>
      </select>
						</div>
					</div>
					<div class="form-row">
						<div class="form-group col-md-4">
							<label for="inputAntall">Antall</label>
							<select id="inputAntall" class="form-control">
        <option selected>Velg Antall...</option>
        <option>...</option>
      </select>
						</div>
					</div>
					<button type="submit" class="btn btn-primary">Kjøp</button>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Lukk</button>
			</div>
		</div>

	</div>
</div>



<!-- Modal Registrer-->
<div id="RegM" class="modal fade" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Registrer</h4>
			</div>
			<div class="modal-body">
				<form>
					<div class="form-row">
						<div class="form-group col-md-6">
							<label for="inputFNavn">Fornavn</label>
							<input type="FNavn" class="form-control" id="inputFNavn" placeholder="Fornavn">
						</div>
						<div class="form-group col-md-6">
							<label for="inputENavn">Etternavn</label>
							<input type="Enavn" class="form-control" id="inputENavn" placeholder="Etternavn">
						</div>
						<div class="form-group col-md-6">
							<label for="inputEmail4">Email</label>
							<input type="email" class="form-control" id="inputEmail4" placeholder="Email">
						</div>
						<div class="form-group col-md-6">
							<label for="inputPassword4">Password</label>
							<input type="password" class="form-control" id="inputPassword4" placeholder="Password">
						</div>
					</div>
					<div class="form-group col-md-6">
						<label for="inputAddress">Address</label>
						<input type="text" class="form-control" id="inputAddress" placeholder="Eksempelveg 1">
					</div>
					<div class="form-group col-md-6">
						<label for="inputPostnr">Postnr</label>
						<input type="postnr" class="form-control" id="inputPostnr" placeholder="Password">
					</div>
					
					<button type="submit" id="registrer" class="btn btn-primary">Registrer</button>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Lukk</button>
			</div>
		</div>

	</div>
</div>


<!-- Modal Felger-->
<div id="FelgerM" class="modal fade" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Velg Felger</h4>
			</div>
			<div class="modal-body">
				<form>
					<div class="form-row">
						<div class="form-group col-md-6">
							<label for="typeFelger">Type</label>
							<select id="typeFelger" class="form-control">
        <option selected>Velg Type...</option>
        <option>...</option>
      </select>
						</div>
						<div class="form-group col-md-6">
							<label for="velgProdusent">Produsent</label>
							<select id="velgProdusent" class="form-control">
        <option selected>Velg Produsent...</option>
        <option>...</option>
      </select>
						</div>
					</div>
					<div class="form-row">
						<div class="form-group col-md-4">
							<label for="velgStørrelse">Størrelse</label>
							<select id="velgStørrelse" class="form-control">
        <option selected>Velg Størrelse...</option>
        <option>...</option>
      </select>
						</div>
					</div>
					<div class="form-row">
						<div class="form-group col-md-4">
							<label for="velgBredde">Bredde</label>
							<select id="velgBredde" class="form-control">
        <option selected>Velg Bredde...</option>
        <option>...</option>
      </select>
						</div>
					</div>

					<div class="form-row">
						<div class="card text-center">
							<div class="card-body">
								<h3 class="card-title">Pris: </h3>
							</div>
						</div>
					</div>
					<button type="submit" class="btn btn-primary">Kjøp</button>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Lukk</button>
			</div>
		</div>

	</div>
</div>
